* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    background-color: #1e2a38;
    color: #f5f5f5;
    padding: 1.25rem;
}

header, section {
    margin: 2rem auto;
}

header {
    text-align: center;
    font-size: 3rem;
}

thead h1 {
    font-size: 3rem;
}

thead h2 {
    font-size: 2rem;
}

tbody tr:hover {
    background-color: #2f4050;
    color: #fff;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

tbody h3 {
    font-size: 1.75rem;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
    transition: color 0.2s ease-in-out;
    display: inline-block;
}

a:hover {
    color: #00bcd4;
}

a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #00bcd4;
    transition: width 0.2s ease-in-out;
}

a:hover:after {
    width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

th, td {
    text-align: center;
    border: 1px solid #00bcd4;
    padding: 1rem;
}

section {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.back-button {
    display: inline-block;
    background-color: #00bcd4;
    color: #1e2a38;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-weight: 500;
    font-size: 2rem;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 188, 212, 0.3);
}

.back-button:hover {
    background-color: #0097a7;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 188, 212, 0.4);
    color: #fff;
}

.back-button:after {
    display: none;
}

.back-button-container {
    text-align: center;
    margin: 1rem 0;
}