* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    background-color: #1e2a38;
    color: #f5f5f5;
    padding: 1.25rem;
}

header, section {
    margin: 2rem auto;
}

header {
    text-align: center;
    font-size: 3rem;
}

thead h1 {
    font-size: 3rem;
}

thead h2 {
    font-size: 2rem;
}

tbody h3 {
    font-size: 1.75rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a :hover {
    transition: color 100ms ease-in, text-decoration 100ms ease-in;
    color: #00bcd4;
    text-decoration: underline;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
    border-radius: 10px;
}

th, td {
    text-align: center;
    border: 1px solid #00bcd4;
    padding: 1rem;
}

section {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}